{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "utf-8">
        <!-- Thiết lập thuộc tính hiển thị trang web tương thích theo từng thiết bị -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Thiết lập đường link cho sdt là none -->
        <meta name="format-detection" content="telephone=no">
        <!-- Thêm icon tab web -->
        <link href="{% static 'bookshop/images/icons/icon-page.png' %}" rel="icon">
        <!-- Bootstrap library -->
            <!-- Font chữ -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js">
        <link rel="stylesheet" href="{% static 'bookshop/css/style_intro.css' %}">
        <link rel="stylesheet" href="{% static 'bookshop/plugins/font-awesome/css/font-awesome.min.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CLibre+Baskerville:400,700" rel="stylesheet">    
        <link rel="stylesheet" href="{% static 'bookshop/plugins/ps-icon/style.css' %}">    
            <!-- Thư viện CSS -->
        <link rel="stylesheet" href="{% static 'bookshop/plugins/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bookshop/plugins/owl-carousel/assets/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'bookshop/plugins/bootstrap-select/dist/css/bootstrap-select.min.css' %}">
        <link rel="stylesheet" href="{% static 'bookshop/plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css' %}">
        <link rel="stylesheet" href="{% static 'bookshop/plugins/slick/slick/slick.css' %}">
            <!-- File CSS chỉnh sửa -->
        <link rel="stylesheet" href="{% static 'bookshop/css/main-style.css' %}">
        <!-- <link rel="stylesheet" href="{% static 'bookshop/css/nav-style.css' %}"> -->
        <link rel="stylesheet" href="{% static 'bookshop/css/plugins.css' %}">
        <link rel="stylesheet" href="{% static 'bookshop/css/custom.css' %}">
        <link rel="stylesheet" href="{% static 'bookshop/plugins/revolution/css/settings.css' %}">
        <link rel="stylesheet" href="{% static 'bookshop/plugins/revolution/css/layers.css' %}">
        <link rel="stylesheet" href="{% static 'bookshop/plugins/revolution/css/navigation.css' %}">
        <!-- CSS Library-->
        {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"> {% endcomment %}
        {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"> {% endcomment %}

        <!-- Thêm title cho tab web -->
        <title>{% block title %} BookShelf {% endblock %}</title>
    </head>

    <body>
        <header class="header" data-sticky="true">
            <div class="header__top" style="background-color:#ffffff;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12">
                            <p><b> HOTLINE: +84 705161592</b></p>
                        </div>
                        <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 ">
                            <div class="header__actions">
                                {% if user.is_authenticated %}
                                    {% if user.is_staff %}
                                    <div class="btn-group ps-dropdown" style="width:150px;"><a class="dropdown-toggle" style="width:150px;" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user }}<i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{% url 'admin' %}">Trang cá nhân</a></li>
                                            <li><a href="{% url 'logout' %}">Đăng xuất</a></li>
                                            
                                        </ul>
                                    </div>
                                    {% else %}
                                    <div class="btn-group ps-dropdown" style="width:150px;"><a class="dropdown-toggle" style="width:150px;" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{ user }}<i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{% url 'user' %}">Trang cá nhân</a></li>
                                            <li><a href="{% url 'logout' %}">Đăng xuất</a></li>
                                            
                                        </ul>
                                    </div>
                                    {% endif %}
                                {% else %}
                                <div class="btn-group ps-dropdown" style="width:150px;"><a class="dropdown-toggle" style="width:150px;" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Đăng nhập/Đăng ký<i class="fa fa-angle-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'login' %}">Đăng nhập</a></li>
                                        <li><a href="{% url 'register' %}">Đăng ký</a></li>
                                    </ul>
                                </div>
                                {% endif %}
   
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Navigation bar -->
            <div class="navigation" style="background-color:#f1f1f1;">
                <div class="container-fluid">
                    <div class="left">
                        <div class="header__logo"><a class="ps-logo" href="{% url 'index' %}"><img src="{% static 'bookshop/images/logo/logo2.png' %}" alt=""></a></div>
                    </div>
                    <div class="center">
                        <ul class="menu">
                            <li class=""><a href="{% url 'index' %}">TRANG CHỦ</a></li>
                            <li><a href="{% url 'about_us' %}">Giới thiệu</a></li>
                            <li><a href="{% url 'product_list' %}">Sản phẩm</a></li>
                            <li><a href="{% url 'blog' %}">Tin tức</a></li>
                            <li><a href="{% url 'contact_us' %}">Liên hệ</a></li>
                        </ul>
                    </div>
                    <div class="right">
                        <div class="menu-toggle"><span></span></div>
                        <div class="ps-cart"><a class="ps-cart__toggle" href="#"><span><i></i></span><i class="ps-icon-cart"></i></a>
                            <div class="ps-cart__listing">
                                {% for item in cart %}
                                {% with product=item.product %}
                                <div class="ps-cart__content">
                                    <div class="ps-cart-item">
                                        <div class="ps-cart-item__thumbnail"><a href="{{ product.get_absolute_url }}"></a><img src="{{product.image.url}}" alt=""></div>
                                        <div class="ps-cart-item__content">
                                           <a class="ps-cart-item__title" href="{{ product.get_absolute_url }}"><small>{{ product.name }} <br> Giá tiền: {{ item.price }}VNĐ</small></a>
                                           <p> Số lượng: x{{ item.quantity }}<span> <br> Giá tiền: {{ item.total_price }}VNĐ</span></p>
                                        </div>
                                        
                                    </div>
                                </div>
                                {% endwith %}
                                {% endfor %}
                                <div class="ps-cart__total">
                                    <p>Tổng tiền:<span>{{ cart.get_total_price }}VNĐ</span></p>
                                </div>
                                {% if cart.get_total_price == 0 %}
                                    <div class="ps-cart__footer"><a class="ps-btn" >Giỏ hàng trống <i class="ps-icon-arrow-left"></i></a></div>
                                {% else %}
                                    <div class="ps-cart__footer"><a class="ps-btn" href="{% url 'order_create' %}">Thanh toán <i class="ps-icon-arrow-left"></i></a></div>
                                {% endif %}
                            </div>
                        </div>
                        
                        <form class="ps-form--search" action="{% url 'search' %}" method="post">
                            {% csrf_token %}
                            <input class="form-control" name="search" type="text" placeholder="Tìm kiếm sản phẩm">
                            <button><i class="ps-icon-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </header>
            
        {% block content %}
        {% endblock %}

        <!-- footer -->
        <div class="ps-section--features">
            <div class="ps-container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                        <div class="ps-iconbox">
                            <header>
                                <h3>MIỄN PHÍ VẬN CHUYỂN</h3>
                                <p>KHI MUA TRÊN 500.000VNĐ.</p>
                            </header>
                            <p>Nếu bạn muốn theo dõi đơn hàng. Hãy tìm thông tin món hàng và thêm vào giỏ ngay nhé.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                        <div class="ps-iconbox">
                            <header>
                                <h3>HOÀN TIỀN 100%</h3>
                                <p>TRONG 30 NGÀY SAU KHI NHẬN HÀNG.</p>
                            </header>
                            <p>Bạn có thể được đổi trả hàng trong 30 ngày sau khi nhận.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                        <div class="ps-iconbox">
                            <header>
                                <h3>HỖ TRỢ 24/7.</h3>
                                <p>HÃY LIÊN LẠC TỚI HOTLINE NHÉ.</p>
                            </header>
                            <p>Chúng tôi làm việc 24/7 nên đừng lo lắng khi có thắc mắc hoặc câu hỏi.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="ps-footer site-footer">
            <div class="ps-footer__content">
                <div class="ps-container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                            <div class="ps-site-info site-info"><a class="ps-logo" href="{% url 'index' %}"><img src="{% static 'bookshop/images/logo/logo.png' %}" alt=""></a>
                                <p>Cửa hàng BookShelf đã có mặt được 5 năm và được tin dùng bởi rất nhiều người, đặc biệt là học sinh và sinh viên. Nơi đây là một sự lựa chọn lý tưởng để đồng hành cùng các bạn.</p>
                                <div class="ps-site-info__contact">
                                    <h4>Thông tin liên hệ</h4>
                                    <p>An Dương Vương, Q.5, TP.HCM</p>
                                    <p>0705161592</p>
                                </div>
                                <ul class="ps-social">
                                    <li><a href="https://www.facebook.com/phanminh.tien.5"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://www.instagram.com/dragonredu01"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                                    <div class="ps-widget ps-widget--footer widget widget_footer">
                                        <h2 class="ps-widget__title">Chăm sóc KH</h2>
                                        <ul class="ps-list--line">
                                            <li><a href="#">Theo dõi đơn hàng</a></li>
                                            <li><a href="#">Dịch vụ khách hàng</a></li>
                                            <li><a href="#">Hỗ trợ sản phẩm</a></li>
                                            <li><a href="#">FAQs</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                                    <div class="ps-widget ps-widget--footer widget widget_footer">
                                        <h2 class="ps-widget__title">Tài khoản của bạn</h2>
                                        <ul class="ps-list--line">
                                            <li><a href="#">Tài khoản của bạn</a></li>
                                            <li><a href="#">Nhận thông báo</a></li>
                                            <li><a href="{% url 'order_create' %}">Thanh toán</a></li>
                                            <li><a href="#">Danh mục ưa thích</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ps-footer__copyright">
                <div class="ps-container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                            <p>&copy; Copyright  <span>2021</span>. Design by <a href="https://www.facebook.com/phanminh.tien.5">Minh Tiến</a>.</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                            <div class="ps-footer__payment-methods"><a href="#"><img src="{% static 'bookshop/images/payment-method/paypal.png' %}" alt=""></a><a href="#"><img src="{% static 'bookshop/images/payment-method/visa.png' %}" alt=""></a><a href="#"><img src="{% static 'bookshop/images/payment-method/master-card.png' %}" alt=""></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
    
        <!-- JS Library-->
        <script src="{% static 'bookshop/plugins/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'bookshop/plugins/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'bookshop/plugins/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'bookshop/plugins/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
        <script src="{% static 'bookshop/plugins/jquery-bar-rating/dist/jquery.barrating.min.js' %}"></script>
        <script src="{% static 'bookshop/plugins/imagesloaded.pkgd.js' %}"></script>
        <script src="{% static 'bookshop/plugins/masonry.pkgd.min.js' %}"></script>
        <script src="{% static 'bookshop/plugins/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'bookshop/plugins/slick/slick/slick.min.js' %}"></script>
        <script src="{% static 'bookshop/plugins/jquery.matchHeight-min.js' %}"></script>
        <script src="{% static 'bookshop/plugins/elevatezoom/jquery.elevatezoom.js' %}"></script>
        <script src="{% static 'bookshop/plugins/gmap3.min.js' %}"></script>
        <script src="{% static 'bookshop/plugins/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
        <script src="{% static 'bookshop/plugins/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
        <script src="{% static 'bookshop/plugins/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
        <script src="{% static 'bookshop/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
        <script src="{% static 'bookshop/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
        <script src="{% static 'bookshop/plugins/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
        <script src="{% static 'bookshop/plugins/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
        <script src="{% static 'bookshop/plugins/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
        <script src="{% static 'bookshop/js/slider-1.js' %}"></script>
        <!-- Custom scripts-->
        <script src="{% static 'bookshop/js/main.js' %}"></script>
      
    </body>
</html>