{% extends 'bookshop/base.html' %}
<title>{% block title %} Liên hệ | BookShelf {% endblock %}</title>
{% block content %}

    <div class="ps-hero">
        <div class="container">
            <h3>LIÊN HỆ</h3>
            <p>Chia sẻ câu chuyện của bạn</p>
        </div>
    </div>

    <!-- <div id="contact-map" data-address="New York, NY" data-title="BAKERY LOCATION!" data-zoom="17"></div> -->
    <main class="ps-main">
        <div class="ps-container">
            <div class="ps-contact">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <form class="ps-form--contact" action="feedback" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                                    <div class="form-group">
                                        <label>Tên <sup>*</sup></label>
                                        <input name="contact_name" class="form-control" type="text" placeholder="" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                                    <div class="form-group">
                                        <label>Email <sup>*</sup></label>
                                        <input name="contact_email" class="form-control" type="text" placeholder="" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Lời nhắn <sup>*</sup></label>
                                <textarea name="contact_text" class="form-control" rows="7" required></textarea>
                            </div>
                            <div class="form-group">
                                <button class="ps-btn pl-60 pr-60">Gửi</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="ps-contact__info">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                                    <div class="ps-block--contact">
                                        <h3>DƯƠNG THỊ HÒA BÌNH</h3>
                                        <h4>AN DƯƠNG VƯƠNG, TP.HCM</h4>
                                        <p><i class="fa fa-envelope-o"></i><a href="#">binhdth@gmail.com</a></p>
                                        <p><i class="fa fa-phone"></i> +84 xxxxxxxxx</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                                    <div class="ps-block--contact">
                                        <h3>PHAN MINH TIẾN</h3>
                                        <h4>AN DƯƠNG VƯƠNG, TP.HCM</h4>
                                        <p><i class="fa fa-envelope-o"></i><a href="#">pmtien16.8@gmail.com</a></p>
                                        <p><i class="fa fa-phone"></i> +84 705161592</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                                    <div class="ps-block--contact">
                                        <h3>THEO DÕI CỬA HÀNG</h3>
                                        <ul class="ps-social">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-feed"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}