{% extends 'bookshop/base.html' %}
{% load static %}
<title>{% block title %} Feedback Created | Bookshop {% endblock%}</title>
{% block content %} 
<div class="ps-hero">
    <div class="container">
        <h4>Thank you for your feedback.</h4>
    </div>
</div>
   
{% endblock %}