{% extends 'bookshop/base.html' %}
{% load static %}

<title>{% block title %} BookShelf | Trang cá nhân{% endblock%}</title>

{% block content %} 

<div class="ps-section pt-20 pb-40">
    <div class="ps-container">
        <div class="container mt-6 mb-6 p-4 d-flex justify-content-center">
            <div class="card p-4" style="background-color:#d4d5fa">
                {% if user.is_authenticated %}
                <div class=" image d-flex flex-column justify-content-center align-items-center"> <button class="btn btn-secondary"> <img src="https://i.imgur.com/wvxPV9S.png" height="200" width="200" /></button> <span class="name mt-3">{{ user.first_name }} {{ user.last_name }}</span> <span class="idd" style="font-size: 20px;"><b>{{ user }}</b></span>
                    <div class="d-flex flex-row justify-content-center align-items-center gap-2"> <span class="idd1">Email: {{ user.email }}</span> </div>
                    <div class="d-flex flex-row justify-content-center align-items-center mt-3"> <span class="number">Login cuối: {{ user.last_login }}</span> </div>
                    <div class=" d-flex mt-2"> <button class="btn1 btn-dark">Edit Profile</button> </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}