{% extends 'bookshop/base.html' %}
{% load static %}
<title>{% block title %} Checkout | Bookshop {% endblock%}</title>
{% block content %} 
    <div class="ps-hero">
        <div class="container">
            <h3>Thông tin thanh toán</h3>
            <p>Trang thanh toán</p>
        </div>
    </div>
    <div class="ps-checkout pt-40 pb-40">
        <div class="ps-container">
            <form class="ps-form--checkout"  method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
                        <div class="ps-checkout__billing">
                            <h3>Thông tin thanh toán</h3>
                            <div class="form-group form-group--inline">
                                <label>Họ<span>*</span>
                                </label>
                                <div class="form-group__content">
                                    <input class="form-control" type="text" name="first_name" required>
                                </div>
                            </div>
                            <div class="form-group form-group--inline">
                                <label>Tên<span>*</span>
                                </label>
                                <div class="form-group__content">
                                    <input class="form-control" type="text" name="last_name" required>
                                </div>
                            </div>
                            
                            <div class="form-group form-group--inline">
                                <label>Địa chỉ email<span>*</span>
                                </label>
                                <div class="form-group__content">
                                    <input class="form-control" type="email" name="email" required>
                                </div>
                            </div>
                            <div class="form-group form-group--inline">
                                <label>Địa chỉ<span>*</span>
                                </label>
                                <div class="form-group__content">
                                    <input class="form-control" type="text" name="address" required>
                                </div>
                            </div>
                            <div class="form-group form-group--inline">
                                <label>SĐT<span>*</span>
                                </label>
                                <div class="form-group__content">
                                    <input class="form-control" type="text" name="phone">
                                </div>
                            </div>
                            <div class="form-group form-group--inline">
                                <label>Mã vùng<span>*</span>
                                </label>
                                <div class="form-group__content">
                                    <input class="form-control" type="text" name="postal_code">
                                </div>
                            </div>
                            
                            <div class="form-group form-group--inline">
                                <label>Thành phố<span>*</span>
                                </label>
                                <div class="form-group__content">
                                    <input class="form-control" type="text" name="city">
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                        <div class="ps-checkout__order">
                            <header>
                                <h3>Đơn hàng của bạn</h3>
                            </header>
                            <div class="content">
                                <table class="table ps-checkout__products">
                                    <thead>
                                        <tr>
                                            <th class="text-uppercase">Sản phẩm</th>
                                            <th class="text-uppercase">Tổng tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in cart %}
                                        
                                            <tr>
                                                <td>{{ item.product.name }} x{{ item.quantity }}</td>
                                                <td> {{ item.total_price|floatformat:0 }} VNĐ</td>
                                            </tr>
                                        {% endfor %}
                                        {% if cart.coupon %}
                                        <tr>
                                            <td>"{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% off) </td>
                                            <td>
                                                <span style="color: red;">- {{ cart.get_discount|floatformat:0 }} VNĐ</span></td>
                                        </tr>
                                        {% endif %}
                                        <tr>
                                            <td>Tổng tiền: </td>
                                            <td>{{ cart.get_total_price_after_discount|floatformat:0 }} VNĐ</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <footer>
                                <h3>Hình thức thanh toán</h3>
                                
                                <div class="form-group paypal">
                                    <div class="ps-radio ps-radio--small">
                                        <input class="form-control" type="radio" name="payment" id="rdo02" value="option1" checked>
                                        <label for="rdo02">Thẻ ngân hàng</label>
                                        <ul class="ps-payment-method">
                                            <li><a href="#"><img src="{% static 'bookshop/images/payment/visa.png' %}" alt=""></a></li>
                                            <li><a href="#"><img src="{% static 'bookshop/images/payment/mastercard.png' %}" alt=""></a></li>
                                           
                                        </ul>
                                        
                                    </div>
                                    <div class="ps-radio ps-radio--small">
                                        <input class="form-control" type="radio" name="payment" id="rdo03" value="option2" >
                                        <label for="rdo03">Ship COD</label>
                                    </div>
                                    <button class="ps-btn ps-btn--fullwidth">Thanh toán</button>
                                </div>
                            </footer>
                        </div>
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
    
{% endblock %}